small.error(ng-message="required") You must enter a value for this field
small.error(ng-message="minlength") The value you entered is too short
small.error(ng-message="maxlength") The value you entered is too long
small.error(ng-message="email") Enter a valid email address
small.error(ng-message="url") Enter a valid website URL