.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.panel {
  margin-top: 50px;
}

.th {
  width: 100%;
  height: 200px;

  img.right {
    width: 50px;
  }
}

.visible {
  display: block;
  opacity:1;
}
.hidden {
  display: none;
  opacity:0;
}

table.switch-table {
  border: 0px;
}

.switch-container
{
  float:left;
  width:3.5em;
}
.container
{
  position:relative;
  margin-right:70px;
}
@media only screen and (max-width: 767px)
  {
  .container
  {margin:0;}
}

.arrow-container {
  width: 37px;
  height: 37px;
  position:absolute;
  right: 0rem;
  background-color: #DDD;
  border: 1px solid #ccc;
}

.arrow {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -6px;
  border-style: solid;
  border-color: transparent #000;
}

.down {
  margin-top: -4px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000;
}

.right {
  right: 14px;
  border-width: 6px 0 6px 6px;
}

.dropdownBtn {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-top: -6px;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  border-color: transparent #000;
}

.wrapper-dropdown input {
  width: 100%;
  margin-bottom: 3px;
  padding-right: 45px;
}

.wrapper-dropdown .dropdown.active {
  opacity: 1;
  pointer-events: auto;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  font-weight:normal;
  margin-top: 0px;
  padding-left: 0px;
  z-index: 1;
  background: #fff;
  box-shadow: 3px 3px 5px #ccc;

  opacity: 0;
  pointer-events: none;
}

.dropdown li {
  display:block;
  border: 1px solid #ccc;
  text-decoration: none;
  padding: 4px 10px;
  margin-top: -1px;
  color: #000;
  cursor: pointer;
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown li:hover {
  background-color: #ccc;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #fff;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
