/* The import of foundation is made manually because there is still no links of the
   sass version in theit bower.json... */
@import '../../bower_components/foundation/scss/foundation';

// We use these as default colors throughout
 $primary-color: #46868F;
// $secondary-color: #e7e7e7;
 $alert-color: #F1AA00;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;

.switch {
  margin-bottom: 0.5rem;
}

textarea {
  min-height: 37px;
}

button, .button {
  background-color: #46868F;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #2B6F78;
}

.switch input:checked + label {
  background: #2B6F78;
}

button.alert, .button.alert {
  background-color: #F1AA00;
  border-color: #D69500;
}

button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  background-color: #D69500;
}

[data-abide] .error small.error, [data-abide] .error span.error, [data-abide] span.error, [data-abide] small.error {
  background-color: #F1AA00;
}

button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #FFC132;
}

button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
  background-color: #FFC132;
  border-color: #D69500;
}

.panel.nomargin {
  margin-top:0px;
  padding: 5px;
  font-size: 12px;
  background: #E5E5E5;
}

[data-abide] .error.nomargin small.error.nomargin, [data-abide] .error.nomargin span.error.nomargin, [data-abide] span.error.nomargin, [data-abide] small.error.nomargin {
  margin-bottom:0px;
}

.inbetween {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.875rem;
  height: 2.3125rem;
  line-height: 2.3125rem;
  overflow: visible;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
  border-right: none;
  border-left: none;
}

span.inbetween, label.inbetween {
    background: #f2f2f2;
    color: #333333;
    border-color: #cccccc;
}

.no-right-pad {
  padding-right: 0px !important;
}
.no-left-pad {
  padding-left: 0px !important;
}

a {
  :hover {
    color: #2B6F78;
  }
  color: #46868F;
}

textarea {
  height: 37px;
  resize: none;
}

#sticky-footer {
  padding: 10px 10px 10px 10px;
  background: #666;
  color: #fff;
  h4 {
    color: #fff; }
  a {
    color:#bbb; }
}

label.error {
  color: #4d4d4d;
}

.top-bar {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  box-sizing: content-box;
}

.title-text {
  color: #46868F;
  font-weight: 800;
  padding-left:5px;
}

#logo {
  height: 100%;
}

input[type="text"][readonly].datefield {
  background-color: #fff;
}

/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower
