.contain-to-grid
  nav.top-bar(data-topbar='')
    ul.title-area
      li.name
        a
          img#logo(src='assets/images/lifespan-logo.png')
          span.title-text.show-for-small-only Emergency Medicine
          span.title-text.show-for-medium-up Department of Emergency Medicine

.row
  .large-12.columns
    .panel
      h3 Intent to Apply For Funding

      p Please Complete the form below with information about your upcoming grant application.

      p When you click submit, the form will be emailed to Suzanne Araujo and Amy Michaluk who will contact you regarding the grant submission process.
div.row(ng-if='submitted')
  .small-12.columns
    #notify.panel.callout
      div(ng-if='!mainForm.$valid')
        h3 Invalid Data
        p Please review your submission and fix any errors before submitting.
        

      div(ng-if='!posted && mainForm.$valid')
        h3 Valid Data
        p You may now submit the form.
      div(ng-if='posted')

        //- Submission Succeeds
        div(ng-if='result.add.success')
          h3 Success Adding Request
          p Your request has been sucessfully recorded.
          p(ng-if='result.id>0')
            a(ng-click="confirm(mainForm)") View your request
        
        //- Send Email Succeeds
        div(ng-if="result.send.success")
          h3 Success Sending Request
          p Your request has been sucessfully sent to Suzanne Araujo and Amy Michaluk. You will recieve further details by email shortly.
        
        //- Submission fails
        div(ng-if="!result.add.success")
          h3 Failure Adding Request
          p Your request was not received. Please review the contents of your response and try again.
          accordion(close-others="false")
            accordion-group(heading="More Details")
              h5 {{ result.logheader }}
              ul(ng-bind-html="result.log")
        
        //- Submission succeeds; Send Email Fails
        div(ng-if="!result.send.success && result.add.success")
          h3 Failure Sending Request
          p Your request was not correctly sent to the Grants Administrator. You may #[a(ng-click="confirm(mainForm)") view your request] and submit it to them manually, or #[a(href="mailto:support@uemf.org") contact the form administrator]
          accordion(close-others="false")
            accordion-group(heading="More Details")
              h5 Server response
              div(ng-bind-html="result.send.message")

//- full form body goes here
form(name='mainForm'
     data-abide=''
     novalidate=''
     ng-submit="confirm(mainForm)")

  #principal_investigator.row.visible
    .large-4.medium-12.columns
      .row
        h4 Principal Investigator

    .large-8.medium-12.columns
      div(ng-form='prinInvForm')
        .row
          .medium-6.columns
            label.error(for="prinInv_name", role="alert")
              | Full Name
              small &nbsp;Required
              input(type='text'
                    name="prinInv_name"
                    ng-model="data.principalInvestigator.name"
                    placeholder='First Last'
                    ng-change="data.personnel[0].name = data.principalInvestigator.name"
                    required)
              
              //- display error messages on invalid input
              div(ng-if="submitted || prinInvForm.prinInv_name.$touched"
                  ng-messages="prinInvForm.prinInv_name.$error"
                  ng-messages-include="app/directives/error-messages.html")
                small.error(ng-message="required") Name is required
                
          .medium-6.columns
            label.error(for="prinInv_email", role="alert")
              | Email
              small &nbsp;Required
              input(type='email'
                    name="prinInv_email"
                    ng-model="data.principalInvestigator.email"
                    placeholder='your@email.com'
                    required)
              
              //- display error messages on invalid input
              div(ng-if="submitted || prinInvForm.prinInv_email.$touched"
                  ng-messages="prinInvForm.prinInv_email.$error"
                  ng-messages-include="app/directives/error-messages.html")
                small.error(ng-message="required") Email is required
              
      
        //- eRA Commons ID
        .row
          .large-6.medium-6.columns
            label(for='era_commons_id')
              | eRA Commons ID
              small &nbsp;If Federal
              input(type='text'
                    ng-model='data.principalInvestigator.fedId')
        
        .row
          .large-12.columns
            .switch.radius.tiny
              input#prinInv_Availability(
                type='checkbox'
                ng-model='data.principalInvestigator.vacation')
              label(for='prinInv_Availability')
              | &nbsp;Will the Principal Investigator be unavailable (on vacation or otherwise out of the office for an extended period) anytime in the 3 weeks prior to the submission?
  seperator
    
  #funding_opportunity.row.visible
    .large-4.medium-12.columns
      .row
        h4 Funding Opportunity

      .row
        p Please provide information about the funding opportunity to which you plan to apply.

    .large-8.medium-12.columns
      div(ng-form='funding_opportunity_form')
        .row
          .large-6.medium-6.columns
            label(for="sponsor")
              | Sponsor
              input(type="text",
                    ng-model= "data.fundOpportunity.sponsor",
                    name="sponsor",
                    placeholder="Sponsor Name")
            label(for="funding_opportunity")
              | Funding Opportunity
              input(type="text"
                    ng-model= 'data.fundOpportunity.details'
                    name="funding_opportunity"
                    placeholder="Funding Opportunity")
            label.error(for="fundOp_website" role="alert")
              | Website
              input(type="text"
                    name="fundOp_website"
                    ng-model= "data.fundOpportunity.website"
                    placeholder="http://yourfunding.com/opportunitywebsite")
        
              div(ng-if="submitted || funding_opportunity_form.fundOp_website.$touched"
                  ng-messages="mainForm.fundOp_website.$error"
                  ng-messages-include="app/directives/error-messages.html")
          .large-6.medium-6.columns
            div.show-for-small-only(style="height:1em;")
            
            label
              | Due Date
              input.datefield(type="text"
                          placeholder="7/8/2015"
                          ng-model="data.fundOpportunity.dueDate"
                          data-date-format="mm/dd/yyyy"
                          fn-datepicker
                          readonly)

            label(for="mechanism")
              | Funding Mechanism
            table.switch-table
              tr
                td
                  .switch-container
                    .switch.radius.tiny
                      input#mechanism_grant(type="radio"
                                            value="grant"
                                            ng-model="data.fundOpportunity.fundMech")
                      label(for="mechanism_grant")

                td.switch-text #[strong Grant] (RIH is the prime site and/or submitting institution)
              tr
                td
                  .switch-container
                    .switch.radius.tiny
                      input#mechanism_subaward(type="radio"
                                               value="subaward"
                                               ng-model="data.fundOpportunity.fundMech")
                      label(for="mechanism_subaward")
                td.switch-text #[strong Subaward] (RIH is a participating site on another institution's application.)
              

  seperator
    
  #proposal_information.row.visible
    .large-4.medium-12.columns
      .row
        h4 Proposal Information

      .row
        p

    .large-8.medium-12.columns
      div(ng-form='proposal_form')
        .row
          .medium-12.columns
            label.error(for="proposal_title",
                        role="alert")
              | Proposal Title
              small &nbsp;Required (Limit 200 Chars)
              textarea(name="proposal_title"
                       placeholder="200 Character Limit"
                       maxlength="200"
                       rows= "1"
                       required
                       msd-elastic
                       ng-model="data.proposal.title")
              div(ng-if="submitted || proposal_form.proposal_title.$touched"
                  ng-messages="proposal_form.proposal_title.$error"
                  ng-messages-include="app/directives/error-messages.html")
                small.error.nomargin(ng-message="required") Title is required
            .panel.callout.nomargin Please note that we will begin requesting information from participating investigators and institutions 4-6 weeks prior to submission. If your title changes, you must let us know immediately. Also, the title of your grant application should be used when submitting the project to the IRB.
        
        .row
          .medium-5.columns
            label.error(for="proposal_short_title"
                        role="alert")
              | Short Title
              small &nbsp;Limit 20 Chars
              input.error(type="text"
                          name="proposal_short_title"
                          placeholder="20 Character limit"
                          maxlength="20"
                          required
                          ng-model="data.proposal.shortTitle")
              div(ng-if="submitted || proposal_form.proposal_short_title.$touched"
                  ng-messages="proposal_form.proposal_short_title.$error"
                  ng-messages-include="app/directives/error-messages.html")
                small.error.nomargin(ng-message="required") Short Title is required
            .panel.callout.nomargin If you plan to use a nickname or acronym for the project, please use that for the short title. The short title is how we will refer to the study internally.
        
          .medium-3.small-5.columns.no-right-pad
            label
              | Project Dates
              input.datefield(type="text"
                          placeholder="7/8/2015"
                          ng-model="data.proposal.startDate"
                          data-date-format="mm/dd/yyyy"
                          fn-datepicker
                          readonly)
        
          .medium-1.small-2.columns.no-right-pad.no-left-pad
            label &nbsp;
            span.inbetween TO
            
          .medium-3.small-5.columns.no-left-pad
            label
              | &nbsp;
              input.datefield(type="text"
                          placeholder="7/9/2015"
                          ng-model="data.proposal.endDate"
                          data-date-format="mm/dd/yyyy"
                          fn-datepicker
                          readonly)
  seperator
    
  #personnel.row.visible
    .large-4.medium-12.columns
      .row
        h4 Personnel @ RIH / UEMF

      .row
        p Please list key personnel and staff - including TBD and/or Research Assistant positions - who are employed by Rhode Island Hospital or UEMF. This information will be used to create a draft budget with accurate salary levels.

    .large-8.medium-12.columns
      div(ng-form='personnel_form')
        .row.show-for-medium-up
          .medium-5.columns.text-center
            h4 Name
            
          .medium-4.columns.text-center
            h4 Role on Project
            
          .medium-2.columns.text-center.end
            h4 Effort %
            
        div(ng-repeat="person in data.personnel track by $index")
          .row.collapse
            .show-for-small-only.text-center
              h4 Personnel &#35;{{ $index+1 }}
            
            .medium-5.small-12.columns
              label.show-for-small-only.hide-for-large-up
                | Name
              div
                input(type="text"
                  placeholder="First Last"
                  ng-model="person.name")
          
            .medium-4.small-7.columns
              label.show-for-small-only.hide-for-large-up
                | Project Role
              div(combobox 
                  ng-model="person.role" 
                  index="$index")
                ul.dropdown
                  li(ng-click="$parent.changeInput('Principal Investigator')") Principal Investigator
                  li(ng-click="$parent.changeInput('Co-Investigator')") Co-Investigator
                  li(ng-click="$parent.changeInput('Project Manager')") Project Manager
                  li(ng-click="$parent.changeInput('Project Coordinator')") Project Coordinator
                  li(ng-click="$parent.changeInput('Research Assistant')") Research Assistant
                  li(ng-click="$parent.changeInput('Interventionist')") Interventionist
                  li(ng-click="$parent.changeInput('Statistician')") Statistician
                  li(ng-click="$parent.changeInput('Collaborator')") Collaborator
          
            .medium-2.small-3.columns
              label.show-for-small-only.hide-for-large-up
                | Effort %
              input(type="text"
                    placeholder="80%"
                    ng-model="person.effort")
              
            .medium-1.small-2.columns
              label.show-for-small-only.hide-for-large-up
                | &nbsp;
              a.button.alert.round.postfix(
                type="button"
                ng-click="removeRow(data.personnel, $index)"
                ng-disabled="$index==0"
              ) X
            
        .row
          .medium-3.small-4.columns
            a.expand.radius.button(ng-click="model.addPersonnel()")
              | Add Line
          .medium-3.small-4.columns
            a.expand.radius.button(ng-click="removeLast(data.personnel)")
              | Remove Last
          .medium-3.small-4.columns.end
            a.expand.radius.button(ng-click="removeAll(data.personnel)"
                                   ng-confirm-click="Are you sure you wish to remove all?")
              | Remove All
  seperator
    
  #special_considerations.row.visible
    .large-4.medium-12.columns
      .row
        h4 Special Considerations

      .row
        p Please indicate if your project will involve any special considerations.

    .large-4.medium-6.columns
        
      .row
        .small-12.columns
          .switch-container
            .switch.radius.tiny
              input#humanSubjects(type="checkbox"
                                  ng-model="data.special.humans")
              label(for="humanSubjects")

          | Human Subjects&nbsp;
          small
            a(ng-click="specialDescription='humanSubjects'")
              i.fa.fa-question-circle &nbsp;what's this?

        div(ng-if="data.special.humans")
          .row
            .small-1.columns
              | &nbsp;
            .small-11.columns
              .switch-container
                .switch.radius.tiny
                  input#clinical_trial(type="checkbox"
                                       ng-model="data.special.clinical")
                  label(for="clinical_trial")
              | Is this project a clinical trial?&nbsp;
              small
                a(ng-click="$parent.specialDescription='clinicalTrial'")
                  i.fa.fa-question-circle &nbsp;what's this?
                  
              
          .row
            .small-1.columns
              | &nbsp;
            .small-11.columns
              .switch-container
                .switch.radius.tiny
                  input#phase3_clinical_trial(type="checkbox"
                                              ng-model="data.special.phase3")
                  label(for="phase3_clinical_trial")
              | Is this project a phase III clinical trial?&nbsp;
              small
                a(ng-click="$parent.specialDescription='phase3Trial'")
                  i.fa.fa-question-circle &nbsp;what's this?
      
      .row
        .small-12.columns
          .switch-container
            .switch.radius.tiny
              input#vertebrateAnimals(type="checkbox"
                                      ng-model="data.special.vertebrate")
              label(for="vertebrateAnimals")
            
          | Vertebrate Animals&nbsp;
          small
            a(ng-click="specialDescription='vertebrateSubjects'")
              i.fa.fa-question-circle &nbsp;what's this?
        
      .row
        .small-12.columns
          .switch-container
            .switch.radius.tiny
              input#selectAgents(type="checkbox"
                                 ng-model="data.special.agents")
              label(for="selectAgents")
            
          | Select Agents&nbsp;
          small
            a(ng-click="specialDescription='selectAgents'")
              i.fa.fa-question-circle &nbsp;what's this?
        
      .row
        .small-12.columns
          .switch-container
            .switch.radius.tiny
              input#stemCells(type="checkbox"
                              ng-model="data.special.stemcells")
              label(for="stemCells")
            
          | Stem Cells&nbsp;
          small
            a(ng-click="specialDescription='stemCells'")
              i.fa.fa-question-circle &nbsp;what's this?

    .large-4.medium-6.columns
      .panel(ng-if="specialDescription!=''" style="margin-top:0px;")
        #humanSubjectsInfo(ng-if="specialDescription=='humanSubjects'")
          h4 Human Subject
          p A human subject is a living individual about whom an investigator (whether professional or student) conducting research obtains data though intervention or interaction with the individual or obtains identifiable private information. Regulations governing the use of human subjects in research extend to use of human organs, tissues, and body fluids from identifiable individuals as human subjects and to graphic, written, or recorded information derived from such individuals
        #clinicalTrialInfo(ng-if="specialDescription=='clinicalTrial'")
          h4 Clinical Trial
          p A clinical trial is a research study in which one or more human subjects are prospectively assigned to one or more interventions (which may include placebo or other control) to evaluate the effects of those interventions on health-related biomedical or behavioral outcomes.
        #phase3TrialInfo(ng-if="specialDescription=='phase3Trial'")
          h4 Phase III Clinical Trial
          p As defined by NIH, a broadly based prospective Phase III clinical investigation (usually involving several hundred or more human subjects) to evaluate an experimental intervention in comparison with a standard or control intervention or to compare two or more existing treatments. The definition includes pharmacologic, non-pharmacologic, and behavioral interventions given for disease prevention, phophylaxis, diagnosis, or therapy. Community trials and other population-based intervention trials are also included.
        #vertebrateAnimalsInfo(ng-if="specialDescription=='vertebrateSubjects'")
          h4 Vertebrate Animals
          p Any live, vertebrate animal used for research, research training, biological testing, or related purposes. Please see the #[a(href='http://grants.nih.gov/grants/olaw/references/phspol.htm') PHS Policy on Humane Care and Use of Laboratory Animals] for information and links to legislation and the #[a(href='http://grants.nih.gov/grants/olaw/tutorial/relevant.htm') Office of Laboratory Animal Welfare Regulations] tutorial.
        #selectAgentsInfo(ng-if="specialDescription=='selectAgents'")
          h4 Select Agents
          p Biological agent or toxin listed in 42 CFR Part 73, 7 CFR Part 331 and 9 CFR Part 121, or the HHS and USDA Select Agents and Toxins List. See #[a(href='http://www.selectagents.gov') www.selectagents.gov]
          p Investigators who posess or use a select agent must register with and get approval from either the CDC Select Agent Program or USDA APHIS Agricultural Select Agent Program, depending on the agent.
        #stemCellsInfo(ng-if="specialDescription=='stemCells'")
          h4 Stem Cells
          p Please see&nbsp;
            a(href='http://stemcells.nih.gov/') stemcells.nih.gov
            | &nbsp;for more information.
        
  seperator

  #consultants_toggle.row
    #sectionToggle.show-for-large-up
      .large-1.columns
        a(ng-click="toggleVisibility('consultants')")
          i.fa.fa-minus-square(style="font-size:2em;" ng-show="visibility.consultants")
          i.fa.fa-plus-square(style="font-size:2em;" ng-hide="visibility.consultants")
      .large-11.columns
        div(ng-hide="visibility.consultants" style="font-family: 'Helvetica Neue' Helvetica, Roboto, Arial, sans-serif; font-size: 23px")
          | Consultants & Service Providers
  #consultants.row
    .large-4.medium-12.columns
      .row
        #sectionToggle.hide-for-large-up(style="float:right; padding-top:3px;")
          a(ng-click="toggleVisibility('consultants')")
            i.fa.fa-minus-square(style="font-size:2em;" ng-show="visibility.consultants")
            i.fa.fa-plus-square(style="font-size:2em;" ng-hide="visibility.consultants")
        h4.show-for-large-up(ng-show="visibility.consultants") Consultants & Service Providers&nbsp;
          small
            a(ng-click="toggleVisibility('consultants_tooltip')")
              i.fa.fa-question-circle &nbsp;what's this?
        h4.hide-for-large-up Consultants & Service Providers&nbsp;
          small
              a(ng-click="toggleVisibility('consultants_tooltip')")
                i.fa.fa-question-circle &nbsp;what's this?
      
      .row(ng-show="visibility.consultants")
        p Please list all consultants and service providers, their preferred email addresses, and their estimated annual fees. Please note that we must request biosketches and letters of support from all consultants. Letters should describe the consultant's role on the project, list the hourly rate charged and the anticipated number of hours in each year, and list the estimated annual fee in each year.

        

    .large-8.medium-12.columns(ng-show="visibility.consultants")
      .panel.row(ng-show="visibility.consultants_tooltip")
        .small-12.columns
          p A consultant is an individual who provides professional advice or services for a fee, who is not an employee of the primary institution. Consultants also include firms that provide professional advice or services.
      .row.show-for-medium-up
        .medium-5.columns.text-center
          h5 Consultant / Company Name
      
        .medium-4.columns.text-center
          h5 Email Address
      
        .medium-2.columns.text-center.end
          h5 Annual Fee
      
      div(ng-repeat="consultant in data.consultants track by $index" ng-form="consultantForm")
        .row.collapse
          .show-for-small-only.text-center
            h5 Consultant / Service Provider &#35;{{ $index+1 }}
      
          .medium-5.small-12.columns
            label.show-for-small-only
              | Consultant / Company Name
            input(type="text"
                  placeholder="First Last"
                  ng-model="consultant.name")
      
          .medium-4.small-7.columns
            label.error(for="email", role="alert")
              .show-for-small-only
                | Email Address
              input(type="email"
                    name="email"
                    placeholder="email@organization.org"
                    ng-model="consultant.email")

              div(ng-if="consultant_form.$submitted || consultantForm.email.$touched"
                  ng-messages="consultantForm.email.$error"
                  ng-messages-include="app/directives/error-messages.html")
      
          .medium-2.small-3.columns
            label.show-for-small-only
              | Annual Fee
            input(type="text"
                  placeholder="$100"
                  ng-model="consultant.fee")
      
          .medium-1.small-2.columns
            label.show-for-small-only
              | &nbsp;
            a.button.alert.round.postfix(
              type="button"
              ng-click="removeRow(data.consultants, $index)"
              ng-disabled="$index==0"
            ) X
      
      .row
        .medium-3.small-4.columns
          a.expand.radius.button(ng-click="model.addConsultant()")
            | Add Line
        .medium-3.small-4.columns
          a.expand.radius.button(ng-click="removeLast(data.consultants)")
            | Remove Last
        .medium-3.small-4.columns.end
          a.expand.radius.button(ng-click="removeAll(data.consultants)"
                                 ng-confirm-click="Are you sure you wish to remove all?")
            | Remove All
  seperator
   
  #subawards_toggle.row
    #sectionToggle.show-for-large-up
      .large-1.columns
        a(ng-click="toggleVisibility('subawards')")
          i.fa.fa-minus-square(style="font-size:2em;" ng-show="visibility.subawards")
          i.fa.fa-plus-square(style="font-size:2em;" ng-hide="visibility.subawards")
      .large-11.columns
        div(ng-hide="visibility.subawards" style="font-family: 'Helvetica Neue' Helvetica, Roboto, Arial, sans-serif; font-size: 23px")
          | Subawards / Participating Institutions
  #subawards.row.visible
    .large-4.medium-12.columns
      .row
        #sectionToggle.hide-for-large-up(style="float:right; padding-top:3px;")
          a(ng-click="toggleVisibility('subawards')")
            i.fa.fa-minus-square(style="font-size:2em;" ng-show="visibility.subawards")
            i.fa.fa-plus-square(style="font-size:2em;" ng-hide="visibility.subawards")
        h4.show-for-large-up(ng-show="visibility.subawards") Subawards Institutions&nbsp;
          small
              a(ng-click="toggleVisibility('subawards_tooltip')")
                i.fa.fa-question-circle &nbsp;what's this?
        h4.hide-for-large-up Subaward Institutions &nbsp;
          small
              a(ng-click="toggleVisibility('subawards_tooltip')")
                i.fa.fa-question-circle &nbsp;what's this?

      .row(ng-show="visibility.subawards")
        p Please list all other participating institutions - including Brown University and The Miriam Hospital - as well as the primary investigator and administrative contact at each site.

    .large-8.medium-12.columns(ng-show="visibility.subawards")
      .panel.row(ng-show="visibility.subawards_tooltip")
        .small-12.columns
          p A subaward or subcontract is a legal instrument by which a grant recipient provides funding to an eligible institution to perform a substantive portion of the grant-supported program or project.
      div(ng-repeat="subaward in data.subawards track by $index" ng-form="subawardForm")
        .row.collapse
          .text-center
            h5 Subaward Institution &#35;{{ $index+1 }}
      
          .small-12.columns
            label
              | Institution
              small &nbsp;Limit 100 characters
            textarea(placeholder="The Subaward Institution"
                     maxlength="100"
                     msd-elastic
                     ng-model="subaward.name")
      
        .row.collapse
          .small-6.columns
            label
              | Primary Investigator Name
            input(type="text"
                  name="primInv_name"
                  placeholder="First Last"
                  ng-model="subaward.principalInvestigator.name")
                  
          .small-6.columns
            label.error(for="primInv_email", role="alert")
              | Primary Investigator Email
              input(type="email"
                    name="primInv_email"
                    placeholder="primary@investigators.org"
                    ng-model="subaward.principalInvestigator.email")
              //display error messages on invalid input
              div(ng-if="submitted || subawardForm.primInv_email.$touched"
                  ng-messages="subawardForm.primInv_email.$error"
                  ng-messages-include="app/directives/error-messages.html")
      
        .row.collapse
          .medium-6.small-5.columns
            label
              | Grants Admin. Name
            input(type="text"
                  name="ga_name"
                  placeholder="First Last"
                  ng-model="subaward.grantAdmin.name")
                  
          .medium-5.small-5.columns
            label.error(for="grAdmin_email", role="alert")
              | Grants Admin. Email
              input(type="email"
                    name="grAdmin_email"
                    placeholder="grants@administrator.org"
                    ng-model="subaward.grantAdmin.email")
              //display error messages on invalid input
              div(ng-if="submitted || subawardForm.grAdmin_email.$touched"
                  ng-messages="subawardForm.grAdmin_email.$error"
                  ng-messages-include="app/directives/error-messages.html")
      
          .medium-1.small-2.columns
            label
              | &nbsp;
            a.button.alert.round.postfix(
              type="button"
              ng-click="removeRow(data.subawards, $index)"
              ng-disabled="$index==0"
            ) X
      
      .row
        .medium-3.small-4.columns
          a.expand.radius.button(ng-click="model.addSubaward()")
            | Add Line
        .medium-3.small-4.columns
          a.expand.radius.button(ng-click="removeLast(data.subawards)")
            | Remove Last
        .medium-3.small-4.columns.end
          a.expand.radius.button(ng-click="removeAll(data.subawards)"
                                 ng-confirm-click="Are you sure you wish to remove all?")
            | Remove All
  seperator
    
  #comments.row.visible
    .large-4.medium-12.columns
      .row
        h4 Comments

      .row
        p Anything else we should know?

    .large-8.medium-12.columns
      .row
        label.error(for="prinInv_name", role="alert")
          | Comments
          small &nbsp;Limit 500 Chars
        textarea(placeholder='Additional comments'
                 maxlength="500"
                 msd-elastic
                 ng-model='data.comments')
  .row
    .length-12.columns.text-center
      button.alert.radius(type='submit') Submit


#sticky-footer
  .row.full-width
    .small-12.medium-5.large-5.columns
      center
        i.fa.fa-laptop.fa-5x
        |&nbsp;
        i.fa.fa-tablet.fa-4x
        |&nbsp;
        i.fa.fa-mobile.fa-3x
  
      p This webpage works on all modern browsers including mobile devices. Due to end of life for Windows XP, IE8 is no longer supported. If you encounter any issues, please email an administrator with a description of your issue and a screenshot.
  
     .small-12.medium-4.large-4.columns
      center
        i.fa.fa-html5.fa-5x
      p This webform uses advanced HTML5 elements and modern web frameworks:
      ul
        li
          a(href='https://angularjs.org/') AngularJS
        li
          a(href='http://foundation.zurb.com/') Foundation by ZURB
  
    .small-12.medium-3.large-3.columns
      h4 Links
      ul.footer-links
        li
          a(data-reveal-id='changelogModal') Changelog
        li
          a(href='mailto:saraujo@lifespan.org') Contact Grant Administrator
        li
          a(href='http://uemf.org') UEMF.org