accordion(close-others="false" ng-if="result.log")
    accordion-group(heading="Warnings")
      ul(ng-bind-html="result.log")

div(style="font: 0.875rem 'Lucidia Grande', Helvetica, Arial, sans-serif; padding:10px;")
  h3(style="font-weight: bold;")
    | {{ data.proposal.title }} ({{ data.proposal.shortTitle }})

  h4
    | Principal Investigator
  table(ng-if='data.principalInvestigator'
        cellpadding='0' 
        cellspacing='0' 
        style='border: 0px; line-height: normal;')
    tr
      td.left-col
        | Full Name
      td.right-col
        | {{data.principalInvestigator.name}}
      
    tr
      td.left-col
        | Email Address
      td.right-col
        | {{data.principalInvestigator.email}}

    tr
      td.left-col
        | eRA Commons ID
      td.right-col
        | {{ data.principalInvestigator.fedId ? data.principalInvestigator.fedId : '[Unspecified]' }}

  p(style="font: 0.875rem 'Lucidia Grande', Helvetica, Arial, sans-serif;") Principal Investigator will be #[strong {{ data.principalInvestigator.vacation ? 'available' : 'unavailable'}}] within 3 weeks prior to submission.

  h4
    | Sponsor / Funding Opportunity

  table(cellpadding="0" 
        cellspacing="0" 
        style="border: 0px; line-height: normal;")
    tr
      td.left-col
        | Funding Opportunity
      td.right-col
        | {{ data.fundOpportunity.details ? data.fundOpportunity.details : '[Unspecified]' }}
    tr
      td.left-col
        | Sponsor
      td.right-col
        | {{ data.fundOpportunity.sponsor ? data.fundOpportunity.sponsor : '[Unspecified]' }}
    tr
      td.left-col
        | Website
      td.right-col
        | {{ data.fundOpportunity.website ? data.fundOpportunity.website : '[Unspecified]' }}
    tr
      td.left-col
        | Due Date
      td.right-col
        | {{ data.fundOpportunity.dueDate ? data.fundOpportunity.dueDate : '[Unspecified]' }}
    tr
      td.left-col
        | Funding Mechanism
      td.right-col
        | {{ data.fundOpportunity.fundMech ? data.fundOpportunity.fundMech : '[Unspecified]' }}

  h4
    | Proposal Information
  table(cellpadding="0"
        cellspacing="0"
        style="border: 0px; margin-bottom:0px; line-height: normal;")
    tr
      td.left-col
        | Title
      td.right-col
        | {{ data.proposal.title }}
    tr
      td.left-col
        | Short Title
      td.right-col
        | {{ data.proposal.shortTitle }}
    tr
      td.left-col
        | Project Dates
      td.right-col
        | {{ data.proposal.startDate ? data.proposal.startDate : "[Unspecified]" }} to {{ data.proposal.endDate ? data.proposal.endDate : "[Unspecified]" }}

  h4
    | Personnel @ RIH / UEMF
  table(cellpadding='0'
        cellspacing='0'
        style='border: 0px; line-height: normal;'
        ng-repeat="person in data.personnel track by $index")
    tr
      td.left-col
        | Full Name
      td.right-col
        | {{ person.name ? person.name :  "[Unspecified]" }}
    tr
      td.left-col
        | Project Role
      td.right-col
        | {{ person.role ? person.role :  "[Unspecified]" }}
    tr
      td.left-col
        | Effort
      td.right-col
        | {{ person.effort ? person.effort :  "[Unspecified]" }}
    tr
      td(style="padding:0px;")
        | &nbsp;

  h4
    | Special Considerations
  table(cellpadding="0"
        cellspacing="0"
        style="border: 0px; line-height: normal;")
    tr
      td.left-col
        | Human Subjects
      td.right-col
        div(ng-if="data.special.humans")
         span.positive YES
        div(ng-if="!data.special.humans")
          | NO
          tr
      td.left-col
        | Clinical Trial
      td.right-col
        div(ng-if="data.special.clinical")
          span.positive YES
        div(ng-if="!data.special.clinical")
          | NO
    tr
      td.left-col
        | Phase III Clinical Trial
      td.right-col
        div(ng-if="data.special.phase3")
          span.positive YES
        div(ng-if="!data.special.phase3")
          | NO
    tr
      td.left-col
        | Vertebrate Subjects
      td.right-col
        div(ng-if="data.special.vertebrate")
          span.positive YES
        div(ng-if="!data.special.vertebrate")
          | NO
    tr
      td.left-col
        | Select Agents
      td.right-col
        div(ng-if="data.special.agents")
          span.positive YES
        div(ng-if="!data.special.agents")
          | NO
    tr
      td.left-col
        | Stem Cells
      td.right-col
        div(ng-if="data.special.stemcells")
          span.positive YES
        div(ng-if="!data.special.stemcells")
          | NO

  div(ng-if="data.consultants.length > 0" && "data.consultants[0].name != ''")
    h4
      | Consultants
    table(cellpadding='0'
          cellspacing='0'
          style='border: 0px; line-height: normal;'
          ng-repeat="consultant in data.consultants")
        tr
          td.left-col
            | Full Name
          td.right-col
            | {{ consultant.name ? consultant.name :  "[Unspecified]" }}
        tr
          td.left-col
            | Email
          td.right-col
            | {{ consultant.email ? consultant.email :  "[Unspecified]" }}
        tr
          td.left-col
            | Annual Fee
          td.right-col
            | {{ consultant.fee ? consultant.fee :  "[Unspecified]" }}
        tr
          td(style="padding:0px;")
            | &nbsp;

  div(ng-if="data.subawards.length > 0" && "data.subawards[0].name != ''")
    h4
      | Subawards / Participating Institutions
    table(cellpadding='0'
          cellspacing='0'
          style='border: 0px; line-height: normal;'
          ng-repeat="subaward in data.subawards")
      tr
        td(colspan='2' 
           style='width:150px; text-align:left; font-weight: 600; font-size:16px;')
          | {{ subaward.name }}
      tr
        td.left-col
          | Principal Investigator
        td.right-col
          | {{ subaward.principalInvestigator.name ? subaward.principalInvestigator.name :  "[Unspecified]" }} 
          | {{ subaward.principalInvestigator.email ? "(" + subaward.principalInvestigator.email + ")" : '(Unspecified)' }}
      tr
        td.left-col
          | Grants Administrator
        td.right-col
          | {{ subaward.grantAdmin.name ? subaward.grantAdmin.name :  "[Unspecified]" }}
          | {{ subaward.grantAdmin.email ? "(" + subaward.grantAdmin.email + ")" : "(Unspecified)" }} 
      tr
        td(style="padding:0px;")
          | &nbsp;

  h4
    | Notes / Comments
  | {{ data.comments ? data.comments : "No Comments" }}

  seperator

  p
    | Please confirm that the content here is valid and you would like to submit this to the Grants Administrator

  a(ng-if="!submitted"
    class="button success radius disabled")
    | Cannot submit from Preview Mode
  a(ng-if="submitted"
    ng-click="submit(mainForm)"
    class="button success radius")
    | Confirm & Submit

  div(style="width:10px; display:inline-block;")

  a(ng-click="$dismiss()"
    class="button alert radius")
    | Continue Editing


